[[redirects]]
  from = "/api1/*"
  to = "http://103.22.140.216:5051/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/api2/*"
  to = "http://103.22.140.216:5000/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"
