.sample-video {
  width: 90%;
  max-width: 1183px;
  margin: 100px auto; /* vertical 100px, horizontal auto to center */
  padding: 0 20px;    /* equal left and right padding */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

video {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

video:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Tablet and below */
@media (max-width: 480px) {
  video {
    max-width: 100%;
    height: auto;
  }
}
